.container {
    background-color: #fbfbf7;
    max-width: 1200px;
}

h1 {
    color: #a2798f;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 10px;
}

ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606271;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    font-weight: bold;
}

li a:hover {
    color: #FFF;
}

li a:hover:not(.active) {
    background-color: #4C4E5A;
    color: #FFF;
 }

.active {
    background-color: #78BEA1;
}

form.add {
    margin-top: 15px;
    margin-left: 10px;
}

form.del {
    margin-top: 15px;
    margin-left: 10px;
}

form.new {
    margin-top: 15px;
    margin-left: 10px;
}

table.table {

    background-color: #FFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

td {
    text-align: center;
    
}

.fa.fa-trash {
    margin-right: 0.5em;
}

.fa.fa-times {
    color: #FF7F7F;
}

.btn-secondary {
    background-color: #FF7F7F;
    border-color: #FF7F7F;
}

.btn-secondary:hover {
    background-color: #e57272;
    border-color: #e57272;
}

button#delitem {
    background-color: transparent;
    border-color: transparent;
    border-radius: 1.3rem;
    line-height: 1.5;
}

.form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.form-check-input:checked {
    background-color: #78BEA1 ;
    border-color: #78BEA1;
}

.btn-success {
    color: #FFF;
    background-color: #78BEA1 ;
    border-color: #78BEA1;
}

.btn-success:hover {
    background-color: #6cab90 ;
    border-color: #6cab90;
}