{% extends 'shopping/base.html' %}

{% block content %}
<div class="container">
<h1>My Shopping</h1>


<ul class="navi">
    <li><a href={% url 'shopping' %}>Shopping List</a></li>
    <li><a href={% url 'unavailable' %}>Unavailable Items</a></li>
    <li><a class="active" href={% url 'complete' %}>Bought Items</a></li>
</ul>

<form class="new" action="{% url 'delete_alldone' %}" method="POST">
    <button class="btn btn-secondary" type="submit" ><i class="fa fa-trash"></i>Delete all</button>
    {% csrf_token %}
</form>



<table class="table align-middle">
    <thead class="table-light"> 
        <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Done</th>
            <th class="text-center">Shop</th>
            <th class="text-center"></th>
        </tr>
    </thead>

    {% for item in shoppinglist %}    
        <tr>
            <td>{{ item.name }}</td>
            <td><input class="form-check-input" type="checkbox"{% if item.complete %} checked{% endif %} onchange="window.location='{% url 'complete_open' item.id %}'"></td>
            <td>{% for ta in item.tag_assignment_set.all %}
                {{ ta.tag.name }}
                {% endfor %}
            </td>
            <td><form action="{% url 'loeschen_c' item.id %}" method="POST">
                <button id="delitem" class="btn btn-secondary" type="submit" ><i class="fa fa-times"></i></button>
            
                {% csrf_token %}
            </form></td>
        </tr>

    {% endfor %}

</table>



</div>
{% endblock content %}

