{% extends 'shopping/base.html' %}

{% block content %}
<div class="container">
<h1>My Shopping</h1>

<ul class="navi">
    <li><a class="active" href={% url 'shopping' %}>Shopping List</a></li>
    <li><a href={% url 'unavailable' %}>Unavailable Items</a></li>
    <li><a href={% url 'complete' %}>Bought Items</a></li>
</ul>



<form class="add" action="{% url 'new' %}" method="POST">
    <input type="text" placeholder="add item" name="name">
    <input type="text" placeholder="add shop" name="tagname">
    <button id="additem" class="btn btn-success" type="submit"><i class=" fa fa-plus"></i></button>
     {% csrf_token %}
</form>




<table class="table align-middle">
    <thead class="table-light"> 
        <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Done</th>
            <th class="text-center">Unavailable</th>
            <th class="text-center"><a href="?order_by=name"></a>Shop</a></th>
            <th class="text-center">Delete Item</th>
        </tr>
    </thead>   
{% for item in shoppinglist %}    
        <tr>
            
            <td>{{ item.name }}</td>
            <td><input class="form-check-input" type="checkbox"{% if item.complete %} checked{% endif %} onchange="window.location='{% url 'item_complete' item.id %}'"></td> 
            <td><input class="form-check-input" type="checkbox"{% if item.unavailable %} checked{% endif %} onchange="window.location='{% url 'item_unavailable' item.id %}'"></td>
            <td>{% for ta in item.tag_assignment_set.all %}
                {{ ta.tag.name }}
                {% endfor %}
            </td>
            <td><form action="{% url 'loeschen' item.id %}" method="POST">
                <button id="delitem" class="btn btn-secondary" type="submit" ><i class="fa fa-times"></i></button>
                {% csrf_token %}
                </form></td>
        </tr>
{% endfor %}

</table>








</div>

{% endblock content %}