{% extends 'shopping/base.html' %}

{% block content %}
<div class="container">
<h1>My Shopping</h1>

<ul class="navi">
    <li><a href={% url 'shopping' %}>Shopping List</a></li>
    <li><a class="active" href={% url 'unavailable' %}>Unavailable Items</a></li>
    <li><a href={% url 'complete' %}>Bought Items</a></li>
</ul>


<form class="new" action="{% url 'all_available' %}" method="POST">
    <input class="btn btn-success" type="submit" value="Add Items to Shopping List">

    {% csrf_token %}
</form>

<table class="table align-middle">
    <thead class="table-light"> 
        <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Unavailable</th>
            <th class="text-center">Shop</th>
            <th></th>
        </tr>
    </thead>

{% for item in shoppinglist %}    
    <tr>
        
        <td>{{ item.name }}</td>
        <td><input class="form-check-input" type="checkbox"{% if item.unavailable %} checked{% endif %} onchange="window.location='{% url 'unavailable_open' item.id %}'"></td>
        <td>{% for ta in item.tag_assignment_set.all %}
            {{ ta.tag.name }}
            {% endfor %}
        </td>
        <td><form action="{% url 'loeschen_u' item.id %}" method="POST">
            <button id="delitem" class="btn btn-secondary" type="submit" ><i class="fa fa-times"></i></button>
    
            {% csrf_token %}
            </form></td>
    </tr>
{% endfor %}

</table>




</div>
{% endblock content %}